body {
    color : black;
    background : white;
    font-family : "Times New Roman", Times, serif;
    font-size : 12pt;
    margin: 0;
    padding: 0;
    width: 100%;
    text-shadow: none;
}
h1,h2,h3{
    text-shadow: none;
}
a {
    text-decoration : underline;
    color : black;
}
nav, menu, img, details, main {
    display : none;
}
footer, p, h2{
    page-break-inside: avoid;
}
.icon-bar{
    display: none;
}
